.logo-navbar{
    width: 100px;
    height: 50px;
}

.navbar{
    background-color: transparent;
    z-index: 1;
    width: 100vw;
}

.navbar a{
    color: #ffffff;
}

.quienes-somos-section{
    background-color: #000000;
    color: #ffffff;
}

.quienes-somos-section i{
    color: #ffffff;
}

.card-img-top{
    height: 200px;
}

.card p{
    color: #ffffff;
}

.card h5{
    color: #ffffff;
}